<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cat Shelter</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/add-cat">Add Cat</a></li>
        <li><a href="/add-breed">Add Breed</a></li>
      </ul>
    </nav>

    {{{body}}}
  </body>
</html>